<div class = "tag-box">
  <h1 class = "center">Hashtags</h1>
  <div class= "flex-tag">

      <% @tags.sort.reverse.each do |count| %>
        <% count[1].each do |hashtag| %>
          <% if hashtag.comments.select{|count| hashtag.hashname.present?}.count == 0 %>
          <p></p>
          <% else %>
          <p><%= link_to  "##{hashtag.hashname} (#{hashtag.comments.count}) 件","/comment/hashtag/#{hashtag.hashname}", class: "btn btn-gradient"%></p>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>