<% @country_ranks.keys.each do |country| %>

<h3><%= country %>に人気のスポット</h3>

<% @country_ranks[country].each do |map| %>
<div><%= link_to map.spotname, map_path(map.id)%></div>
<% end %>

<% end %>

