   <header>
     <div class="header-content">
      <%= link_to 'Hona!', root_path, class: "logo" %>
       <ul class="flex">
        <% if user_signed_in? %>
          <li><%= link_to ' マイページ', user_path(current_user), class: "btn btn-default" %></li>
          <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-default" %></li>
        <% else %>
          <li><%= link_to ' ログイン', new_user_session_path, class: "btn btn-default"%></li>
        <% end %>
        </ul>
  　</div>
  </header>